// breakpoints
$xs: 400px;
$ms: 576px;
$s: 760px;
$m: 980px;
$l: 1200px;
$xl: 1440px;

// font-size adjustments

$font-size-m: 16px;
$font-size-l: 24px;

// colors

$color-brand: #334466;
$color-line-stroke: #DDE3EE;
$color-p:#222D44;
$color-title-nav:#99A9CC;
$color-btn:#DBDFF0;
$color-p-btn:#3B4E91;
$color-p-white:#F9FAFC;
$color-btn-icon:#2B3855;